<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1>Book</h1>
	<form action="#" th:action="@{/newbook}"  th:object= ${book} method="post">
	<p>Title: <input type="text" th:field="${book.title}" /></p>
	<p>Author: <input type="text" th:field="${book.author}" /></p>
	<p>Year: <input type="text" th:field="${book.year}" /></p>
	<p>ISBN: <input type="text" th:field="${book.isbn}" /></p>
	<p>Price: <input type="text" th:field="${book.price}" /></p>
	
	<label for="ctglist">Category</label>
			 <select id="ctglist" th:field="*{category}" class="form-control">
       			<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
    		</select>
    		<br></br>
	<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
	</form>
</body>
</html>