<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1>Edit book</h1>
	<form action="#" th:action="@{../editbook}" th:object="${book}" method="post">
	<input type="hidden" th:field="*{id}" class="form-control"/>
  	<p>Title: <input type="text" th:field="${book.title}"  /></p>
	<p>Author: <input type="text" th:field="${book.author}" /></p>
	<p>Year: <input type="text" th:field="${book.year}" /></p>
	<p>ISBN: <input type="text" th:field="${book.isbn}" /></p>
	<p>Price: <input type="text" th:field="${book.price}" /></p>
	
	<input type="submit" value="Update book" />
       
</form>
</body>
</html>